html {
  font-size: 18px;
}

.container {
  max-width: 960px;
  margin: auto;

}

/* BANNER -------------------------------------------------- */

.entirebanner {
  padding-top: 1rem;
  background-image: url("../../resources/images/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30rem;
  font-family: helvetica;
  position: relative;

}
  /* ~~HEADER ~~ */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;

}

.logo {
  display: flex;
  align-items: center;
  color: white;
}

.logo img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

/* ~~ NAV ~~ */

.header ul {
  display: flex;
}

.header li {
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

a {
  color: white;
  text-decoration: none;
}

/* ~~ Slogan ~~ */

.slogan {
  max-width: 25rem;
  min-width: 25rem;
  background-color: white;
  padding: 1.5rem 5rem;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  position: relative;
  top: 10rem;
  left: 14rem;
}

/* BANNER END -------------------------------------------------- */
/* PAGE CONTENT -------------------------------------------------- */

.entireicons {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  font-family: helvetica;
}

.icon {
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 0 3rem;
}

.exams img {
  display: block;
  width: 3.5rem;
  height: auto;
}

.fittings img {
  display: block;
  width: 5rem;
  height: auto;
}

.delivery img {
  display: block;
  width: 5rem;
  height: auto;
}

/* PAGE CONTENT END -------------------------------------------------- */
