html {
  font-size: 18px;
}

.container {
  max-width: 960px;
  margin: auto;
  border: 1px solid red;
}

/* BANNER -------------------------------------------------- */

.entirebanner {
  padding-top: 1rem;
  background-image: url("../../resources/images/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 30rem;
  font-family: helvetica;
}

  /* ~~HEADER ~~ */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  
}

.logo {
  display: flex;
  align-items: center;
  color: white;
}

.logo img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

/* ~~ NAV ~~ */

.header ul {
  display: flex;
}

.header li {
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

a {
  color: white;
  text-decoration: none;
}

/* ~~ Slogan ~~ */



/* BANNER END -------------------------------------------------- */
